.cantact{
    background-color: #b2b1b1;
    margin-top: 5%;
    padding-left: 2rem;
    padding-top: 2rem;
    max-height: fit-content;
    text-align: center;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.info{
  display: flex;
  flex-direction: row;
}
.info2{
  margin-right: 18rem;
  text-align: left;
}

form {
    max-width: 600px;
    padding: 20px;
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    text-align: left;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  .rights{
 max-height: fit-content;
 margin-top: 1rem;
 margin-bottom: 0.2rem;
  }

  
  /* Responsive Styles */
@media (max-width: 768px) {
  div.contact {
      padding-left: 1rem;
      padding-top: 1rem;
  }
  .info {
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
  }

  .info2 {
      margin-right: 0;
      text-align: center;
   
  }
  .info2 .tit{
    font-size: 2rem; /* Size similar to h4 */
    font-weight:bold; /* Optional: match h4 style */
  }
  form {
      padding: 15px;
      max-width: 90%;
  }

  .info, .info2 {
      text-align: center;
  }
}