
body {
  --color: rgba(30, 30, 30);
  --bgColor: rgba(245, 245, 245);
  display: grid;
  align-content: center;
  gap: 2rem;
  padding: 0.2rem;
  font-family: "Poppins", sans-serif;
  color: var(--color);
  background: var(--bgColor);
}

.Home{
  margin-top: 4%;
  display: flex;
  justify-content: space-between;
  column-gap: 1%;
}
.MyImage{
  width: 30%;
  border: none;
  border-radius: 1%;
  filter: contrast(1.25);
  z-index: -1;
}

div.name{
width: 33%;
display: flex;
align-items: center;
justify-content: right;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 8pc;
text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
div.name:hover{
  text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}
div.profile{
  width: 33%;
  height: 45pc;
 background-color: beige;
 font-family:'Courier New', Courier, monospace;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: xx-large;
 position: relative;
 left: -4rem;
 top:2rem;
 border-radius: 2rem;
 

}



div.profile p{
  margin-left: 5%;
}
.skills{
      margin-top: 5%;
      display: flex;
      flex-direction: column;
      text-align: center;
     
}
.pl{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 2rem;
}
.pl div{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(224, 221, 218);
  height: 13rem;
  width: 15rem;
  border: none;
  border-radius: 5%;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.pl img{
  margin-top: 2rem;
  width: 50%;
  height: 50%;
}
.others{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 2rem;
}
.others div{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(224, 221, 218);
  height: 13rem;
  width: 17rem;
  border: none;
  border-radius: 5%;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.others img{
  margin-top: 2rem;
  width: 60%;
  height: 60%;
}
.others div:hover ,.pl div:hover  {
  transform: scale(1.1); /* Zoom in by 1.2 times on hover */
  filter:contrast(1.3);
}

/* Responsive Styles */
@media (max-width: 768px) {
 

.Home{
  margin-top: 1%;
}
  .links {
      flex-direction: row;
      width: 15%;
      align-items: flex-start;
      max-width: 100%;
      margin-top: 0.6rem;
      gap: 0.3rem;
  }

  .links a {
     font-size: 3dvi;
     font-weight:550 ;
  }

  body:has(header.scrolled) .links {
      display: none;
  }
  
  .links a:hover{
      text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  }
 

  .Home {
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .MyImage {
      width: 80%;
      
  
  }
div.name{
  font-size: x-large;
  position: relative;
  top:7rem;
  margin-right:15rem ;
}
  

  div.profile {
      left: 0;
      top: 0;
      height: auto;
      border-radius: 0;
      text-align: left;
      font-size:x-large ;
  }

  .pl, .others {
      flex-direction: column;
      align-items: center;
  }

  .pl div, .others div {
      width: 50%;
      margin-bottom: 1rem;
  }
  .pl div{
      width: 15rem; 
      height: 10rem;
  }
  .others div{
      width: 15rem; 
      height: 10rem;
  }

}
